body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

#main-content {
    display: flex;
    gap: 20px;
}

.team-btn {
    font-size: 18px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.team-btn:hover {
    background-color: #0056b3;
}

#team-info {
    text-align: center;
}

#team-logo {
    width: 200px;
    height: auto;
    margin-bottom: 20px;
}

button {
    padding: 10px;
    font-size: 18px;
}
